@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background: rgb(24, 24, 25);
	--background-light: rgb(32, 32, 34);
	--background-lighter: rgb(48, 48, 52);
	--font: "Roboto", sans-serif;
	--text: rgb(200, 200, 200);
	--text-white: rgb(255, 255, 255);
	--text-sub: rgb(125, 125, 125);

	--banner-h: 10rem;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Roboto', sans-serif;

	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;

	overflow-x: hidden;
}

/* Navbar */

#navbar {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 1rem;
	justify-content: center;

	width: 100%;

	margin-top: 10px;
	margin-bottom: 10px;

	background: var(--background);

	z-index: 10;
}

.nav-item {
	text-decoration: none;
	padding: 0.8rem;
	border: solid rgba(255, 255, 255, 0.0) 1px;
	background-color: rgba(255, 255, 255, 0.0);
	border-radius: 8px;
	transition: 500ms;
	color: inherit;
}

.nav-item:hover {
	border: solid rgba(255, 255, 255, 0.1) 1px;
	background-color: var(--background-light);
}

/* Cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.cards:hover > .card::after {
	opacity: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: relative;

	min-width: 300px;
	width: 20%;
	/* height: 200px; */
	flex: 1;
	
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0px 8px)
  }
  
  .card:hover::before {
	opacity: 1;
  }
  
  .card::before,
  .card::after {
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	opacity: 0.0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
  }
  
  .card::before {
	background: radial-gradient(
	  300px circle at var(--mouse-x) var(--mouse-y), 
	  rgba(255, 255, 255, 0.05),
	  transparent 100%
	);
	z-index: 3;
  }

  .card::after {  
	background: radial-gradient(
	  500px circle at var(--mouse-x) var(--mouse-y), 
	  rgba(255, 255, 255, 0.3),
	  transparent 100%
	);
	z-index: 1;
  }
  

  .card > * {
	z-index: 4;
	font-size: large;
	/* padding: 8px; */
  }

  .card > .card-inset {
	background-color: var(--background-light);
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 1px;
	position: absolute;
	z-index: 2;
  }